* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --corfundo: #0f0f0f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* Botão da barra de rolagem (ponteiro) */
::-webkit-scrollbar-thumb {
  background-color: rgb(134, 40, 134);
  border-radius: 5px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
